node_modules
dist
coverage
.git
.github
docs
.env
.env.*
*.log
.DS_Store
.vscode
.idea
.vscode/*
!.vscode/extensions.json
test
**/*.spec.ts
**/*.test.ts
.eslintcache
.prettierrc.json
tsconfig.build.json
tsconfig.json
nest-cli.json
jest.config.cjs
README.md
Dockerfile
.dockerignore
